:root {
  --mainColor: #152028;
  --secondaryColor: #192734;

  --borderColor: #164d56;

  --mainText: #fff;
  --secodaryText: #eeeeee;

  --themeDotBorder: #ffffff;
  --previewBg: rgba(29, 35, 52, 0.8);
  --previewShadow: #111921;

  --btnColor: #17a2b8;
}
